@tailwind base;
@tailwind components;
@tailwind utilities;

/* Safe Area - 상태바/노치/제스처바 영역 확보 */
html, body {
  padding: 0;
  margin: 0;
  background-color: #f3f4f6; /* bg-gray-100 */
}

:root {
  --sat: env(safe-area-inset-top, 0px);
  --sab: env(safe-area-inset-bottom, 0px);
  --sal: env(safe-area-inset-left, 0px);
  --sar: env(safe-area-inset-right, 0px);
}